{% extends "shared/layout.html" %} {% block content %}
<body class="w-full h-full bg-blue-900">
  <div class="container mx-auto py-10">
    <div class="p-6 w-[30%] mx-auto bg-white rounded-lg shadow-md">
      {% comment %} 付款方式 {% endcomment %}
      <div class="mb-9">
        <label for="payment" class="block text-gray-900 font-bold mb-3 mt-3"
          >選擇支付方式：</label
        >
        <select
          id="payment"
          class="w-full px-3 py-2 border bg-white border-blue-700 rounded-md shadow-sm focus:outline-double text-gray-700"
        >
          <option value="line-pay">Line Pay</option>
          <option value="online-payment">信用卡</option>
        </select>
      </div>

      {% comment %} 上一步 & 下一步 {% endcomment %}

      <!-- payment_form.html -->
      <form
        action="{% url 'payments:linepay_request' %}"
        method="post"
        id="paymentForm"
      >
        {% csrf_token %}
        <input type="hidden" name="id" value="{{ id }}" />
        <div class="flex justify-between mb-4">
          <button
            type="button"
            class="bg-blue-800 hover:bg-blue-600 text-white font-semibold py-2 px-4 rounded-lg focus:outline-none focus:shadow-outline"
            id="backButton"
            onclick="history.back();"
          >
            上一步
          </button>
          <button
            type="submit"
            class="bg-blue-800 hover:bg-blue-600 text-white font-semibold py-2 px-4 rounded-lg focus:outline-none focus:shadow-outline"
            id="nextButton"
            disabled
          >
            下一步
          </button>
        </div>
      </form>

      {% comment %} 購買須知 {% endcomment %}
      <div class="flex items-center mb-4">
        <input
          type="checkbox"
          id="terms"
          class="appearance-none h-4 w-4 border border-blue-700 rounded bg-white checked:bg-blue-900 checked:border-blue-300 focus:ring-2 focus:ring-blue-200"
          onclick="toggleSubmitButton()"
        />
        <label for="terms" class="ml-2 text-gray-700"
          >我已閱讀並同意購買須知。</label
        >
      </div>
    </div>
  </div>

  <script>
    function toggleSubmitButton() {
      var termsCheckbox = document.getElementById("terms");
      var nextButton = document.getElementById("nextButton");
      nextButton.disabled = !termsCheckbox.checked;
    }
  </script>
</body>

{% endblock %}
