{% extends "shared/layout.html" %} {% block content %}
<!-- prettier-ignore -->
<div class="grid grid-cols-1 sm:grid-cols-4 max-w-6xl mx-auto flex h-[70vh] sm:h-[80vh] sm:gap-4 p-4 gap-y-4">
  <!-- 左側導航欄 -->
  <aside class="flex flex-col w-full sm:w-64 overflow-hidden bg-sky-50 border border-1 rounded-lg hover:shadow-md">
    <div class="p-4 text-white bg-blue-500"><h1 class="text-lg font-bold">接案者主控台</h1></div>
    <nav class="grow-0 sm:grow">
      <ul class="p-4 menu text-base-content grid grid-cols-4 sm:grid-cols-none sm:block gap-2">
        <li><a href="{% url 'users:profile' %}" class="rounded-lg hover:bg-blue-100 hover:text-gray-500">更新個人資料</a></li>
        <li><a href="{% url 'services:freelancer_dashboard' user.id %}" class="rounded-lg hover:bg-blue-100 hover:text-gray-500">個人服務管理</a></li>
        <li><a href="{% url 'users:feedback' %}" class="rounded-lg hover:bg-blue-100 hover:text-gray-500" >評價與回饋</a></li>
        <li><a href="{% url 'users:likes' %}"
          class="rounded-lg hover:bg-blue-100 hover:text-gray-500">愛心收藏</a></li>
        <li><a href="{% url 'users:freelancer_financial' %}" class="rounded-lg hover:bg-blue-100 hover:text-gray-500">財務管理</a></li>
      </ul>
    </nav>
    <!-- 轉換成業者按鈕 -->
    {% if user.profile.freelancer_verified %}
    <div class="p-4">
      <a href="{% url 'users:switch_role' %}" class="block w-full py-2 font-semibold text-center text-white bg-emerald-400 rounded-lg shadow-md hover:bg-emerald-600">轉換成為業者</a>
    </div>
    {% endif %}
  </aside>

  <!-- 主內容區域 -->
  <main class="col-span-3 flex-grow p-6 bg-white border border-1 rounded-lg hover:shadow-md">
    <h2 class="pb-2 mb-6 text-xl font-bold text-gray-800 border-b">接案者個人資料</h2>
    <div class="space-y-4">
      <div class="bg-sky-50 rounded-lg shadow-md card">
        <div class="p-4 card-body">
          <h3 class="text-lg font-semibold text-gray-700 card-title">我的資料</h3>
          <p class="text-sm text-gray-600">
            姓氏：<span class="font-medium">{{user.first_name}}</span><br />
            名字：<span class="font-medium">{{user.last_name}}</span><br />
            用戶名稱：<span class="font-medium">{{user.username}}</span><br />
            所在地：<span class="font-medium">
              {% if profile.location %} {{ profile.location }} {% endif %}</span
            ><br />
            信箱：<span class="font-medium">{{user.email}}</span><br />
            個人簡介：<span class="font-medium">{% if profile.bio %} {{ profile.bio }} {% endif %}</span
              ></span><br />
          </p>
        </div>
      </div>
      <!-- 可以新增更多專案 -->
    </div>
  </main>
</div>
{% endblock %}
