
{% extends "shared/layout.html" %}
{% load static %}
{% block "content" %}
<!DOCTYPE html>
<html lang="en">
  <body class="bg-white">
    <div class="flex items-center justify-center pt-5">
      <div class="relative flex items-center w-full max-w-md">
        <input
          type="text"
          placeholder="請輸入關鍵字..."
          class="w-full pl-10 pr-4 py-2 text-gray-700 bg-white border border-gray-300 rounded-l-lg shadow-sm focus:outline-none focus:ring focus:ring-blue-300 focus:border-blue-500"
        />
        <button
          class="px-4 py-2 bg-blue-500 text-white font-semibold rounded-r-lg hover:bg-blue-600 focus:outline-none focus:ring focus:ring-blue-300"
        >
          Search
        </button>
        <div class="absolute left-3 top-1/2 transform -translate-y-1/2 text-gray-400">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-5 w-5"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
            stroke-width="2"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M8 16l-4-4m0 0l4-4m-4 4h16"
            />
          </svg>
        </div>
      </div>
    </div>
    
      </div>
    </div>
    

    <!-- 搜尋後顯示 -->
    <div class="main ">
      <div
        class="visualBox flex justify-center pt-3 pb-3 my-5 w-full sm:max-w-[600px] md:max-w-[800px] lg:max-w-[1200px] mx-auto bg-gray-200 rounded-md shadow-md"
      >
        <div class="flex gap-10">
          <a href="" target="_blank">
            <div class="item transition-transform duration-300 hover:scale-105">
              <img class="taskeradvertise" src= "{% static 'images/webdev.png' %}" />
              <div class="pt-1">
                <div class="flex">
                  <img class="avatarInpage" src="{% static 'images/kao.jpg' %}" alt="" />
                  <p class="pt-3.5 pl-1">龍哥團隊</p>
                </div>
                <p class="max-w-[250px]">
                  I will do frontend and backend in django as full stack
                  developer
                </p>
                <div class="flex">
                  <div class="relative w-5 h-5">
                    <div
                      class="absolute w-full h-full bg-black clip-star"
                    ></div>
                  </div>
                  <p class="text-gray-500">(5.0)</p>
                </div>
                <p class="text-left">from US$999</p>
              </div>
            </div>
          </a>
          <a href="" target="_blank">
            <div class="item transition-transform duration-300 hover:scale-105">
              <img
                class="taskeradvertise"
                src="{% static 'images/webdev2.png' %}"
              />
              <div class="pt-1">
                <div class="flex">
                  <img class="avatarInpage" src="{% static 'images/pika.jpg' %}" alt="" />
                  <p class="pt-3.5 pl-1">皮卡丘聯盟</p>
                </div>
                <p class="max-w-[250px]">
                  I will do frontend and backend in django as full stack
                  developer
                </p>
                <div class="flex">
                  <div class="relative w-5 h-5">
                    <div
                      class="absolute w-full h-full bg-black clip-star"
                    ></div>
                  </div>
                  <p class="text-gray-500">(4.7)</p>
                </div>
                <p class="text-left">from US$799</p>
              </div>
            </div>
          </a>
          <a href="" target="_blank">
            <div class="item transition-transform duration-300 hover:scale-105">
              <img
                class="taskeradvertise"
                src="{% static 'images/webdev3.jpg' %}"
              />
              <div class="pt-1">
                <div class="flex">
                  <img class="avatarInpage" src="{% static 'images/ufo.jpg' %}" alt="" />
                  <p class="pt-3.5 pl-1">老高ufo說書</p>
                </div>
                <p class="max-w-[250px]">
                  I will do frontend and backend in django as full stack
                  developer
                </p>
                <div class="flex">
                  <div class="relative w-5 h-5">
                    <div
                      class="absolute w-full h-full bg-black clip-star"
                    ></div>
                  </div>
                  <p class="text-gray-500">(4.8)</p>
                </div>
                <p class="text-left">from US$299</p>
              </div>
            </div>
          </a>
          <a href="" target="_blank">
            <div class="item transition-transform duration-300 hover:scale-105">
              <img
                class="taskeradvertise"
                src="{% static 'images/webdev4.jpg' %}"
              />
              <div class="pt-1">
                <div class="flex">
                  <img
                    class="avatarInpage"
                    src="{% static 'images/redgirl.webp' %}"
                    alt=""
                  />
                  <p class="pt-3.5 pl-1">聖誕鄰居小姊姊</p>
                </div>
                <p class="max-w-[250px]">
                  I will do frontend and backend in django as full stack
                  developer
                </p>
                <div class="flex">
                  <div class="relative w-5 h-5">
                    <div
                      class="absolute w-full h-full bg-black clip-star"
                    ></div>
                  </div>
                  <p class="text-gray-500">(3.9)</p>
                </div>
                <p class="text-left">from US$599</p>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div
        class="visualBox flex justify-center pt-3 pb-3 my-5 w-full sm:max-w-[600px] md:max-w-[800px] lg:max-w-[1200px] mx-auto bg-gray-200 rounded-md shadow-md"
      >
        <div class="flex gap-10">
          <a href="" target="_blank">
            <div class="item transition-transform duration-300 hover:scale-105">
              <img class="taskeradvertise" src="{% static 'images/webdev.png'%}" />
              <div class="pt-1">
                <div class="flex">
                  <img class="avatarInpage" src="{% static 'images/kao.jpg' %}" alt="" />
                  <p class="pt-3.5 pl-1">龍哥團隊</p>
                </div>
                <p class="max-w-[250px]">
                  I will do frontend and backend in django as full stack
                  developer
                </p>
                <div class="flex">
                  <div class="relative w-5 h-5">
                    <div
                      class="absolute w-full h-full bg-black clip-star"
                    ></div>
                  </div>
                  <p class="text-gray-500">(5.0)</p>
                </div>
                <p class="text-left">from US$999</p>
              </div>
            </div>
          </a>
          <a href="" target="_blank">
            <div class="item transition-transform duration-300 hover:scale-105">
              <img
                class="taskeradvertise"
                src="{% static 'images/webdev2.png' %}"
              />
              <div class="pt-1">
                <div class="flex">
                  <img class="avatarInpage" src="{% static 'images/pika.jpg' %}" alt="" />
                  <p class="pt-3.5 pl-1">皮卡丘聯盟</p>
                </div>
                <p class="max-w-[250px]">
                  I will do frontend and backend in django as full stack
                  developer
                </p>
                <div class="flex">
                  <div class="relative w-5 h-5">
                    <div
                      class="absolute w-full h-full bg-black clip-star"
                    ></div>
                  </div>
                  <p class="text-gray-500">(4.7)</p>
                </div>
                <p class="text-left">from US$799</p>
              </div>
            </div>
          </a>
          <a href="" target="_blank">
            <div class="item transition-transform duration-300 hover:scale-105">
              <img
                class="taskeradvertise"
                src="{% static 'images/webdev3.jpg' %}"
              />
              <div class="pt-1">
                <div class="flex">
                  <img class="avatarInpage" src="{% static 'images/ufo.jpg' %}" alt="" />
                  <p class="pt-3.5 pl-1">老高ufo說書</p>
                </div>
                <p class="max-w-[250px]">
                  I will do frontend and backend in django as full stack
                  developer
                </p>
                <div class="flex">
                  <div class="relative w-5 h-5">
                    <div
                      class="absolute w-full h-full bg-black clip-star"
                    ></div>
                  </div>
                  <p class="text-gray-500">(4.8)</p>
                </div>
                <p class="text-left">from US$299</p>
              </div>
            </div>
          </a>
          <a href="" target="_blank">
            <div class="item transition-transform duration-300 hover:scale-105">
              <img
                class="taskeradvertise"
                src="{% static 'images/webdev4.jpg' %}"
              />
              <div class="pt-1">
                <div class="flex">
                  <img
                    class="avatarInpage"
                    src="{% static 'images/redgirl.webp' %}"
                    alt=""
                  />
                  <p class="pt-3.5 pl-1">聖誕鄰居小姊姊</p>
                </div>
                <p class="max-w-[250px]">
                  I will do frontend and backend in django as full stack
                  developer
                </p>
                <div class="flex">
                  <div class="relative w-5 h-5">
                    <div
                      class="absolute w-full h-full bg-black clip-star"
                    ></div>
                  </div>
                  <p class="text-gray-500">(3.9)</p>
                </div>
                <p class="text-left">from US$599</p>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div
        class="visualBox flex justify-center pt-3 pb-3 my-5 w-full sm:max-w-[600px] md:max-w-[800px] lg:max-w-[1200px] mx-auto bg-gray-200 rounded-md shadow-md"
      >
        <div class="flex gap-10">
          <a href="" target="_blank">
            <div class="item transition-transform duration-300 hover:scale-105">
              <img class="taskeradvertise" src="{% static 'images/webdev.png' %}" />
              <div class="pt-1">
                <div class="flex">
                  <img class="avatarInpage" src="{% static 'images/kao.jpg' %}" alt="" />
                  <p class="pt-3.5 pl-1">龍哥團隊</p>
                </div>
                <p class="max-w-[250px]">
                  I will do frontend and backend in django as full stack
                  developer
                </p>
                <div class="flex">
                  <div class="relative w-5 h-5">
                    <div
                      class="absolute w-full h-full bg-black clip-star"
                    ></div>
                  </div>
                  <p class="text-gray-500">(5.0)</p>
                </div>
                <p class="text-left">from US$999</p>
              </div>
            </div>
          </a>
          <a href="" target="_blank">
            <div class="item transition-transform duration-300 hover:scale-105">
              <img
                class="taskeradvertise"
                src="{% static 'images/webdev2.png'%}"
              />
              <div class="pt-1">
                <div class="flex">
                  <img class="avatarInpage" src="{% static 'images/pika.jpg' %}" alt="" />
                  <p class="pt-3.5 pl-1">皮卡丘聯盟</p>
                </div>
                <p class="max-w-[250px]">
                  I will do frontend and backend in django as full stack
                  developer
                </p>
                <div class="flex">
                  <div class="relative w-5 h-5">
                    <div
                      class="absolute w-full h-full bg-black clip-star"
                    ></div>
                  </div>
                  <p class="text-gray-500">(4.7)</p>
                </div>
                <p class="text-left">from US$799</p>
              </div>
            </div>
          </a>
          <a href="" target="_blank">
            <div class="item transition-transform duration-300 hover:scale-105">
              <img
                class="taskeradvertise"
                src="{% static 'images/webdev3.jpg'%}"
              />
              <div class="pt-1">
                <div class="flex">
                  <img class="avatarInpage" src="{% static 'images/ufo.jpg' %}" alt="" />
                  <p class="pt-3.5 pl-1">老高ufo說書</p>
                </div>
                <p class="max-w-[250px]">
                  I will do frontend and backend in django as full stack
                  developer
                </p>
                <div class="flex">
                  <div class="relative w-5 h-5">
                    <div
                      class="absolute w-full h-full bg-black clip-star"
                    ></div>
                  </div>
                  <p class="text-gray-500">(4.8)</p>
                </div>
                <p class="text-left">from US$299</p>
              </div>
            </div>
          </a>
          <a href="" target="_blank">
            <div class="item transition-transform duration-300 hover:scale-105">
              <img
                class="taskeradvertise"
                src="{% static 'images/webdev4.jpg' %}"
              />
              <div class="pt-1">
                <div class="flex">
                  <img
                    class="avatarInpage"
                    src="{% static 'images/redgirl.webp' %}"
                    alt=""
                  />
                  <p class="pt-3.5 pl-1">聖誕鄰居小姊姊</p>
                </div>
                <p class="max-w-[250px]">
                  I will do frontend and backend in django as full stack
                  developer
                </p>
                <div class="flex">
                  <div class="relative w-5 h-5">
                    <div
                      class="absolute w-full h-full bg-black clip-star"
                    ></div>
                  </div>
                  <p class="text-gray-500">(3.9)</p>
                </div>
                <p class="text-left">from US$599</p>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
    <!-- 輪播組件 -->
    <div class="flex justify-center py-3">
      <div x-data="carousel()" class="banner">
        <!-- Slides -->
        <div
          class="slides"
          :style="`transform: translateX(-${currentSlide * 1200}px)`"
        >
          <div class="slide">
            <img src="{% static 'images/banner-1.jpg' %}" alt="Slide 1" />
          </div>
          <div class="slide">
            <img src="{% static 'images/banner-2.jpg' %}" alt="Slide 2" />
          </div>
          <div class="slide">
            <img src="{% static 'images/banner-3.jpg' %}" alt="Slide 3" />
          </div>
        </div>

        <!-- Controls -->
        <div class="controls">
          <button class="control-btn" @click="prev">Prev</button>
          <button class="control-btn" @click="next">Next</button>
        </div>
      </div>
    </div>
    <!-- 輪播alpinejs組件 -->
    <script>
      function carousel() {
        return {
          currentSlide: 0,
          totalSlides: 3,

          next() {
            this.currentSlide = (this.currentSlide + 1) % this.totalSlides;
          },

          prev() {
            this.currentSlide =
              (this.currentSlide - 1 + this.totalSlides) % this.totalSlides;
          },

          startAutoSlide() {
            setInterval(() => {
              this.next();
            }, 2000);
          },

          init() {
            this.startAutoSlide();
          },
        };
      }
    </script>

    <!-- 推薦接案者區 -->
    <div class="flex justify-center py-3 gap-12">
      <div class="border-solid border-2 border-gray-200 rounded-2xl p-2">
        <div class="flex gap-10">
          <a href="" target="_blank">
            <div class="item">
              <div class="flex justify-between items-center">
                <img class="logosize" src="{% static 'images/logo-1.jpg' %}" alt=""/>
                <p class="text-4xl font-bold pl-1 py-7 text-right">Pizza宵夜聯盟</p>
                <!-- 愛心組件 -->
                <div class="flex">
                  <div class="flex">
                    <!-- 按鈕容器 -->
                      <div class="heartframe border-solid border-2 border-gray-200 rounded-2xl pl-1.5 pt-1">
                        <button id="heartButton" data-active="false" type="button" class="rounded-full transition duration-300 hover:scale-110"> 
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 30 24"
                        fill="none"
                        stroke="currentColor"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        class="w-10 h-10 text-gray-400 transition-colors"
                      >
                        <path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"/>
                      </svg>
                    </div>
                    </button>
                  </div>
                </div>
              </div>
              <div class="flex gap-5">
                <img
                  class="recommendcaser"
                  src="{% static 'images/work1.jpg' %}"
                  alt=""
                />
                <ul class="listtype">
                  <li class="max-w-[170px]">
                    Now this is a story all about how, my life gotflipped-turned
                    upside down
                  </li>
                  <li class="max-w-[170px]">
                    And I'd like to take a minute just sit right there
                  </li>
                  <li class="max-w-[170px]">
                    I'll tell you how I became the prince 
                  </li>
                </ul>
              </div>
              <p class="text-left">from US$999</p>
            </div>
          </a>
        </div>
     </div>
     <div class="border-solid border-2 border-gray-200 rounded-2xl p-2">
      <div class="flex gap-10">
        <a href="" target="_blank">
          <div class="item">
            <div class="flex justify-between items-center">
              <img class="logosize" src="{% static 'images/logo-1.jpg' %}" alt=""/>
              <p class="text-4xl font-bold pl-1 py-7 text-right">Pizza宵夜聯盟</p>
              <!-- 愛心組件 -->
              <div class="flex">
                <div class="flex">
                  <!-- 按鈕容器 -->
                    <div class="heartframe border-solid border-2 border-gray-200 rounded-2xl pl-1.5 pt-1">
                      <button id="heartButton" data-active="false" type="button" class="rounded-full transition duration-300 hover:scale-110"> 
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 30 24"
                      fill="none"
                      stroke="currentColor"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      class="w-10 h-10 text-gray-400 transition-colors"
                    >
                      <path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"/>
                    </svg>
                  </div>
                  </button>
                </div>
              </div>
            </div>
            <div class="flex gap-5">
              <img
                class="recommendcaser"
                src="{% static 'images/work1.jpg' %}"
                alt=""
              />
              <ul class="listtype">
                <li class="max-w-[170px]">
                  Now this is a story all about how, my life gotflipped-turned
                  upside down
                </li>
                <li class="max-w-[170px]">
                  And I'd like to take a minute just sit right there
                </li>
                <li class="max-w-[170px]">
                  I'll tell you how I became the prince 
                </li>
              </ul>
            </div>
            <p class="text-left">from US$999</p>
          </div>
        </a>
      </div>
      </div>

    </div>
     <!-- 愛心js -->
    <script>
      // 取得按鈕元素
      const heartButton = document.getElementById("heartButton");
    
      // 點擊事件
      heartButton.addEventListener("click", (event) => {
        event.preventDefault(); // 防止預設行為（例如表單提交或刷新）
        const isActive = heartButton.getAttribute("data-active") === "true";
    
        // 更新按鈕的狀態屬性
        heartButton.setAttribute("data-active", !isActive);
    
        // 切換樣式
        if (isActive) {
          heartButton
            .querySelector("svg")
            .classList.remove("text-red-500");
          heartButton
            .querySelector("svg")
            .classList.add("text-gray-400");
        } else {
          heartButton
            .querySelector("svg")
            .classList.remove("text-gray-400");
          heartButton
            .querySelector("svg")
            .classList.add("text-red-500");
        }
      });
    </script>
  </body>
  <!-- 換頁按鈕 -->
  <div class="pagination justify-center pb-2">
    <button class="new" id="prev" disabled>←</button>
    <button class="new page" data-page="1">1</button>
    <button class="new page" data-page="2">2</button>
    <button class="new page" data-page="3">3</button>
    <button class="new page" data-page="4">4</button>
    <button class="new page" data-page="5">5</button>
    <button class="new page" data-page="6">6</button>
    <button class="new" id="next">→</button>
  </div>

  <script>
    const prevButton = document.getElementById("prev");
    const nextButton = document.getElementById("next");
    const pageButtons = document.querySelectorAll(".page");

    let currentPage = 1;
    const totalPages = 6;

    function updateButtons() {
      pageButtons.forEach(button => {
          button.classList.toggle("active", button.dataset.page == currentPage);
      });
      prevButton.disabled = currentPage === 1;
      nextButton.disabled = currentPage === totalPages;
    }
    pageButtons.forEach(button => {
      button.addEventListener("click", () => {
      currentPage = parseInt(button.dataset.page);
      updateButtons();
    });
  });

  prevButton.addEventListener("click", () => {
      if (currentPage > 1) currentPage--;
      updateButtons();
  });

  nextButton.addEventListener("click", () => {
      if (currentPage < totalPages) currentPage++;
      updateButtons();
  });
  updateButtons();
  </script>
</html>
{% endblock  %}
