*{
    padding: 0;
    margin: 0;
}
/* 斷點 */
@media screen and (max-width: 1399px) {
    .visualBox
}

@media screen and (max-width: 1199px) {
    .visualBox
}
@media screen and (max-width: 991px) {
    .visualBox
}
.visualBox{
    
}

.taskeradvertise {
    width: 250px;
    height: 150px;
    border-radius: 20px;
}
.avatar {
    width: 40px;
    border-radius: 50%;
    border: 2px;
    box-shadow:1px 1px 3px 1px #acacac;
}

/* 星星 */
.clip-star {
    clip-path: polygon(
      50% 0%, 
      61% 35%, 
      98% 35%, 
      68% 57%, 
      79% 91%, 
      50% 70%, 
      21% 91%, 
      32% 57%, 
      2% 35%, 
      39% 35%
    );
  }


/* 輪播設定   */
.banner {
  width: 1200px;
  height: 160px;
  overflow: hidden;
  position: relative;
}

.slides {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slide {
  width: 1200px;
  height: 160px;
  flex-shrink: 0;
  
}

.controls {
  position: absolute;
  top:50%;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
}

.control-btn {
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}
.logosize {
    width: 130px;
    height: 80px;
    border-radius: 20px;
}
.recommendcaser{
    width: 350px;
    height: 200px;
    border-radius: 20px;
}
.listtype {
    list-style-type: disc;
}
.heartframe {
    width: 50px;
    height: 50px;
    border-radius: 8px;
}

/* 換頁按鈕 */
.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.new~button {
    background-color: transparent;
    border: 1px solid #ccc;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
    padding-right:16px;
    padding-left:16px;
}

.new~button:disabled {
    cursor: not-allowed;
    opacity: 0.5;
}

.new~button.active {
    font-weight: bold;
    border: 2px solid rgb(0, 157, 255);
}
