{% extends "shared/layout.html" %} {% block content %}
<!-- prettier-ignore -->
<div class="p-5 bg-indigo-300 flex items-center justify-center flex h-[90vh] sm:h-[82vh] text-black">
  <div class="bg-white border border-1 rounded-lg p-8 w-full max-w-md hover:shadow-lg">
    <h1 class="text-2xl font-bold text-center mb-6">聯繫客服</h1>
    <form method="post" class="space-y-4">
      {% csrf_token %}
      <div>
        <label for="name" class="block text-sm font-medium">您的姓名</label>
        <input id="name" name="name" type="text" class="mt-1 block w-full rounded-md bg-gray-100 text-black focus:ring-blue-500 focus:border-blue-500" required/>
      </div>
      <div>
        <label for="email" class="block text-sm font-medium">電子郵件</label>
        <input id="email" name="email" type="email" value="{{ form.initial.email|default_if_none:'' }}" class="mt-1 block w-full rounded-md  bg-gray-100 text-black focus:ring-blue-500 focus:border-blue-500" required/>
      </div>
      <div>
        <label for="message" class="block text-sm font-medium">訊息內容</label>
        <textarea id="message" name="message" rows="4" class="mt-1 block w-full rounded-md border-gray-300 bg-gray-100 text-black placeholder-gray-400 focus:ring-blue-500 focus:border-blue-500" required></textarea>
      </div>
      <button type="submit" class="w-full bg-blue-500 hover:bg-sky-600 text-white font-bold py-2 px-4 rounded-lg transition">傳送訊息</button>
    </form>
  </div>
</div>

{% endblock %}
