{% load static %}
<div class="flex bg-white navbar border-b border-gray-300">
  <div class="flex-1 h-16 item-center sm:px-5">
    <a class="btn btn-ghost" href="{% url 'pages:home' %}">
      <img src="{% static 'images/logo.png' %}" alt="三合" class="h-10 w-25" />
    </a>
    {% if user.is_authenticated %}
    <span class="hidden">ID:{{ user.id }}</span>
    {% endif %}
  </div>
  <!--關鍵字收尋-->
  <!--判斷是否為登入與註冊頁-->
  <!-- prettier-ignore -->
  {% if request.resolver_match.view_name != 'users:login' and request.resolver_match.view_name != 'users:register' %}
  <div class="shrink-0 h-16 w-32 justify-center items-center basis-2/4">
    <div class="relative flex items-center w-full max-w-xl">
      <!-- prettier-ignore -->
      <form action="{% url 'search' %}" method="get" class="relative flex items-center w-full max-w-xl">
      <!-- 搜尋框 -->
      <input type="text" name="keyword" placeholder="請輸入關鍵字..." class="w-full py-2 pl-4 pr-4 text-gray-700 bg-white border border-gray-300 rounded-l-lg focus:outline-none focus:ring-2 focus:ring-gray-100"/>
       <!-- 按鈕 -->
      <button type="submit" class="px-4 py-2 font-semibold text-white bg-blue-500 rounded-r-lg hover:bg-sky-700">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
          <circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line>
        </svg>
      </button>
      <div class="absolute text-gray-400 transform -translate-y-1/2 left-3 top-1/2">
      </div>
    </form>
    </div>
  </div>
  {% endif %}

  <!-- prettier-ignore -->
  <div class="flex flex-1 h-16 justify-end items-center sm:px-5">  
      {% if user.is_authenticated %}
      <h1 class="pr-8 hidden md:block">{{ user.username }} 歡迎回來!!!~~</h1>
      {% else %}
      <h1 class="pr-8 hidden md:block">歡迎來到我們的網站!</h1>
      {% endif %}
      {% if user.is_authenticated %}
    <!--TODO: 鈴鐺通知 -->
    <div class="dropdown dropdown-end">
      <!-- 鈴鐺圖示 -->
      <label tabindex="0" class="btn btn-ghost btn-circle">
        <div class="indicator">
          <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 text-gray-800 dark:text-gray-200" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 17h5l-1.405-1.405A2.032 2.032 0 0118 14.158V11a6.002 6.002 0 00-4-5.659V5a2 2 0 10-4 0v.341C7.67 6.165 6 8.388 6 11v3.159c0 .538-.214 1.055-.595 1.436L4 17h5m6 0v1a3 3 0 11-6 0v-1m6 0H9"/>
          </svg>
          <span hx-get="{% url 'notification:unread_notifications_count' %}" hx-trigger="load, every 5s" hx-swap="outerHTML" class="badge badge-sm indicator-item bg-red-500 text-white">
            {{ unread_notifications|length }}
          </span>
        </div>
      </label>

      <!-- 通知下拉列表 -->
      <!-- prettier-ignore -->
      <div tabindex="0" class="dropdown-content card card-compact bg-white dark:bg-gray-800 shadow-lg w-96 py-4 px-6">
        <div class="card-body">
          <span class="font-bold text-lg text-gray-800 dark:text-gray-200">未讀通知：</span>
          <ul class="divide-y divide-gray-300 dark:divide-gray-700">
            {% if unread_notifications %}
                {% for notification in unread_notifications %}
                    <li class="py-4">
                        <a href="{% url 'notification:mark_as_read_and_redirect' notification.id %}" class="block text-gray-800 dark:text-gray-200 hover:text-blue-500 hover:dark:text-blue-400 hover:bg-gray-200 dark:hover:bg-gray-700 rounded-md px-4 py-3 transition">
                            <div>
                                <span class="font-medium">{{ notification.actor.username }}</span>
                                {{ notification.verb }}
                            </div>
                            <small class="block mt-2 text-gray-500 dark:text-gray-400">
                                {{ notification.timestamp|date:"Y-m-d H:i" }}
                            </small>
                        </a>
                    </li>
                {% endfor %}
            {% else %}
                <li class="py-4">
                    <span class="text-gray-500 dark:text-gray-400">暫無通知</span>
                </li>
            {% endif %}
        </ul>        
        </div>
      </div>
    </div>
    <script>
      function markNotificationAsReadAndNavigate(
        event,
        notificationId,
        targetUrl
      ) {
        event.preventDefault()
        const url = `/notification/mark-as-read/${notificationId}/`
        fetch(url, {
          method: 'POST',
          headers: {
            'X-CSRFToken': '{{ csrf_token }}',
            'Content-Type': 'application/json',
          },
        })
          .then((response) => response.json())
          .then((data) => {
            if (data.status === 'success') {
              const badges = document.querySelectorAll('.indicator-item')
              badges.forEach((badge) => {
                if (data.unread_count > 0) {
                  badge.textContent = data.unread_count
                } else {
                  badge.remove()
                }
              })

              const notificationElement = event.target.closest('li')
              if (notificationElement) {
                notificationElement.remove()
              }

              // 如果通知列表清空，顯示 "暫無通知"
              const notificationsList = document.querySelector('.card-body ul')
              if (
                notificationsList &&
                notificationsList.children.length === 0
              ) {
                notificationsList.innerHTML =
                  "<span class='text-gray-500'>暫無通知</span>"
              }

              // 跳轉到目標 URL
              window.location.href = targetUrl
            }
          })
          .catch((error) => {
            console.error('Error:', error)
            // 即使標記失敗，也跳轉到目標 URL
            window.location.href = targetUrl
          })
      }

      document.addEventListener('DOMContentLoaded', () => {
        updateNotificationBadge()
      })
    </script>
    <!--TODO: 頭像要改 -->
    <div class="dropdown dropdown-end">
      <div tabindex="0" role="button" class="btn btn-ghost btn-circle avatar">
        <div class="rounded-full">
          <img alt="Tailwind CSS Navbar component" src="{% if user.profile.photo %}{{ user.profile.photo.url }}{% else %}https://img.daisyui.com/images/stock/photo-1534528741775-53994a69daeb.webp{% endif %}"/>
        </div>
      </div>
      <ul tabindex="0"class="menu menu-sm dropdown-content bg-base-100 rounded-box z-[1] mt-3 w-52 p-2 shadow">
        <li><a href="{% url 'users:user_dashboard' %}" class="justify-between">個人資料</a></li>
        <li><a>設定</a></li>
        <li><a href="{% url 'contact:contact' %}">聯繫客服</a></li>
        <li><a href="{% url 'pages:about' %}">關於我們</a></li>
        <li><a hx-post="{% url 'users:logout' %}" hx-trigger="click" hx-swap="none">登出</a></li>
      </ul>
    </div>

    {% else %}
    <div class="flex justify-center space-x-8">
      <ul class="flex space-x-8 list-none">
        <li><a href="{% url 'users:login' %}" class="text-lg">登入</a></li>
        <li><a href="{% url 'users:register' %}" class="text-lg">註冊</a></li>
      </ul>
    </div>
    {% endif %}
  </div>
</div>
