{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}My Site{% endblock %}</title>
    <script src="{% static 'scripts/app.js'%}" type="module"></script>
    <link rel="stylesheet" href="{% static 'styles/app.css' %}" />
  </head>
  <body>
    <header>
      <div class="shadow-lg navbar bg-base-100">
        <div class="flex-1 px-5">
          <a class="text-xl btn btn-ghost" href="{%url 'pages:home'%}"
            >三合trico</a
          >
        </div>
      </div>
    </header>
    <main>{% block content %} {% endblock %}</main>
    <footer class="flex items-center justify-center py-4 bg-gray-100">
      <p class="text-sm text-gray-500">&copy; 三合</p>
    </footer>
  </body>
</html>
