*{
    padding: 0;
    margin: 0;
}

.taskeradvertise {
    width: 250px;
    height: 150px;
    border-radius: 20px;
}
.avatarInpage {
    width: 40px;
    border-radius: 50%;
    border: 2px;
    box-shadow:1px 1px 3px 1px #acacac;
}

/* 星星 */
.clip-star {
    clip-path: polygon(
      50% 0%, 
      61% 35%, 
      98% 35%, 
      68% 57%, 
      79% 91%, 
      50% 70%, 
      21% 91%, 
      32% 57%, 
      2% 35%, 
      39% 35%
    );
  }


/* 輪播設定   */
.banner {
  width: 1200px;
  height: 160px;
  overflow: hidden;
  position: relative;
}

.slides {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slide {
  width: 1200px;
  height: 160px;
  flex-shrink: 0;
  
}

.controls {
  position: absolute;
  top:50%;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
}

.control-btn {
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}
.logosize {
    width: 130px;
    height: 80px;
    border-radius: 20px;
}
.recommendcaser{
    width: 350px;
    height: 200px;
    border-radius: 20px;
}
.listtype {
    list-style-type: disc;
}
.heartframe {
    width: 50px;
    height: 50px;
    border-radius: 8px;
}

/* 換頁按鈕 */
.pagination {
    display: flex;
    gap: 8px;
  }
  
  button.new {
    width: 40px;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 50%; /* 圓形邊框 */
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    cursor: pointer;
  }
  
  button.new.active {
    background-color: #007bff; /* 活動按鈕的背景顏色 */
    color: white;
  }
  
  button.new:disabled {
    background-color: #e9ecef; /* 禁用按鈕的背景顏色 */
    cursor: not-allowed;
  }